.annabelle {
  text-align:left;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

.han {
  color: pink;
}

.Todd {
  justify-content: left;
  align-content: flex-start;
  color: magenta;
  transform: skew(15 deg, 15 deg);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Katie {
  display: flex;
  font-size: calc(50px + 2vmin);
  color: #00dd22;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #D3D140;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0d2bd3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
